<ion-header>
    <ion-toolbar>
        <ion-title>Notícias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Marcação '?' para pegar as propriedades-->
    <ion-card *ngFor="let article of data?.articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card-header>
            <ion-card-title>{{article.title}}</ion-card-title>
            <ion-img [src]="article.urlToImage"></ion-img>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>
</ion-content>
